/*  L E S S  J S  */
  /*V A R I A B L E S */
    /* COLORS */
      /* COLORS NAMES */ 
      @black:                                   #000000;
      @blue:                                    #1ea3e8;
      @light-black:                             #2b2b2b;      
      @very-dark-gray:                          #3b3b3b;
      @steel-blue:                              #438db3;
      @light-blue:                              #4cbceb;
      @dark-gray:                               #5b5b5b;
      @gray:                                    #8b8b8b;
      @green:                                   #98d39f;
      @light-gray:                              #ababab;      
      @dark-silver:                             #c1c1c1;
      @silver:                                  #dedede;
      @light-silver:                            #eee;             
      @very-light-silver:                       #e3e3e3;
      @white-smoke:                             #f4f4f4;
      @creamy-white:                            #fffffa;
      @white:                                   #fff;
      
      /* COLORS RULES */
      @blue-background:                         @light-blue;
      @blue-text:                               @white;
      @blue-hover-background:                   @white;
      @blue-hover-text:                         @blue;
      
      @gray-text:                               @white;
      @gray-background:                         @silver;
      @gray-hover-text:                         @blue;
      @gray-hover-background:                   @white;
      @text-text:                               @white;
      @text-hover-text:                         @silver;

      @main-tab-text:                           @dark-gray;
      @main-tab-hover-text:                     @steel-blue;
      @main-tab-hover-background:               @white-smoke;      
      @main-tab-active-background:              @very-light-silver;
      
      @input-background:                        @white;
      @input-border:                            @light-blue;
      
      @pushed-text:                             @white;
      @pushed-background:                       @gray;
      
      @selected-text:                           @white;
      @selected-background:                     @gray;
      
      @tab-text:                                @blue;
      @tab-background:                          @very-light-silver;
      @tab-hover-text:                          @white;
      @tab-hover-background:                    @blue;
      
      @active-text:                             @very-dark-gray;
      @active-background:                       @dark-silver;
      

    /*  M I X I N S  */ // TODO - mixins in every file?
    .border-radius (@radius: 5px) {
      border-radius: @radius;
      -webkit-border-radius: @radius;
      -moz-border-radius: @radius;
      -o-border-radius: @radius;	
    }
    
    .border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {    
	  border-radius: @topleft @topright @bottomright @bottomleft;
	  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
	  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
      -o-border-radius: @topleft @topright @bottomright @bottomleft;	
    }
    
    .user-select (@arg: none){
      user-select: @arg;
      -webkit-user-select: @arg;
      -khtml-user-select: @arg;
      -moz-user-select: @arg;
      -o-user-select: @arg;    
    }  
 
      
/* G E N E R A L   B U T T O N  */
.button {
  .user-select(none);
    
  &:hover {
    cursor: pointer;
  }
}

.handy:hover {
  cursor: pointer;
}


.blue {
  color: @blue-text;
  background-color: @blue-background;

  &:hover {
    color: @blue-hover-text;
    background-color: @blue-hover-background;
  }
}

.grey {
  color: @gray-text;
  background-color: @gray-background;

  &:hover {
    color: @gray-hover-text;
    background-color: @gray-hover-background;
  }
}

.text {
  color: @text-text;

  &:hover {
    color: @text-hover-text;
  }
}

.input-text {
  min-width: 200px;
  height: 18px;
  background-color: @input-background;

  border: 1px solid @input-border;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}


/* G E N E R A L   C L A S S E S */ 
.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.click:hover {
  cursor: pointer !important;
}

.main-tab {
  padding: 15px 15px;
  color: @dark-gray;
  font-size: 14px;
 

  &:hover {
    color: @steel-blue;
    background-color: @main-tab-hover-background;
  }

  .active {
    background-color: @very-light-silver;
  
    &:hover {
      background-color: @very-light-silver !important;
    }
  }
}

.rounded {
  padding: 5px;
  margin: 0px 5px;
  margin-bottom: 5px;
 
  .border-radius(5px);
}


/*  T O G G L E   B U T T O N */
.pushed {
  color: @pushed-text;
  background-color: @pushed-background;
}


/*  S H E E T   T A B S  */
.selected {
  color: @selected-text;
  background-color: @selected-background;

  &:hover {
    cursor: default;
  }
}


/* T O P   M E N U   A N D   T A B L E / S H A R E   T A B S */
.tab {
  color: @blue;
  background-color: @very-light-silver;
  font-weight: normal;

  &:hover {
    color: @tab-hover-text;
    background-color: @tab-hover-background;
  }
}

.active {
  color: @active-text;
  background-color: @active-background;

  &:hover {
    cursor: default;
    color: @active-text;
    background-color: @active-background;
  }
}

.fixed {
    position: fixed;
    top: 0px;
    z-index: 123;
    margin-top: 0px;
    border: 1px solid #d3d3d3;
    box-shadow: 1px 1px 2px 0px #555;
}
