/*  L E S S  J S  */
  /*V A R I A B L E S */
    /* COLORS */
      /* COLORS NAMES */ //TODO desame color names in every less file?
      @black:                                   #000000;
      @blue:                                    #1ea3e8;
      @light-black:                             #2b2b2b;      
      @very-dark-gray:                          #3b3b3b;
      @steel-blue:                              #438db3;
      @light-blue:                              #4cbceb;
      @dark-gray:                               #5b5b5b;
      @gray:                                    #8b8b8b;
      @green:                                   #98d39f;
      @light-gray:                              #ababab;
      @dark-silver:                             #c1c1c1;
      @silver:                                  #dedede;
      @light-silver:                            #eee;            
      @very-light-silver:                       #e3e3e3;
      @white-smoke:                             #f4f4f4;      
      @creamy-white:                            #fffffa;
      @white:                                   #fff;
      
      /* COLORS RULES */
      @background:                              @gray;
      @links:                                   @blue;
      @hover-links:                             @white;
      @visited-links:                           @blue;
      @textinput-background:                    @white;
      @textinput-border:                        @light-blue;

      @header-background:                       @very-dark-gray;
        
      @most-top-background:                     @very-dark-gray;
      @preloader-background:                    @creamy-white;
      @preloader-text:                          @dark-gray;
      @preolader-text-hover:                    @gray;
      @preloader-border:                        @dark-gray;
      
      @meta-menu-background:                    @dark-gray;
      @panel-background:                        @white;
      @panel-title-background:                  @very-dark-gray;
      @panel-title-text-color:                  @white; 
      @panel-main-background:                   @very-light-silver;
      
      @panel-close-bar-text:                    @white;
      @panel-close-bar-background:              @blue;
      @panel-close-bar-top-border:              @blue;
      
      @panel-close-bar-hover-background:        @white; 
      @panel-close-bar-hover-text:                    @blue;
      
      @choose-view-background:                  @silver;
      @chose-header-border:                     @gray;

      @search-more-background:                  @very-light-silver; 
      @search-more-text:                        @blue;  
      @search-more-hover-background:            @blue;      
      @search-more-hover-text:                  @white;
      @search-num-separator:                    @dark-silver;
      @search-res-button-background:            @silver;
      @search-res-button-text:                  @white;
        
      @app-background:                          @white;
      @app-header-background:                   @gray;
      @tabs-bottom-border:                      @blue;
      @tabs-active-background:                  @white;
      @tabs-active-bottom-border:               @white;            
      
      @app-permalink-background:                @very-light-silver;
      @app-permalink-text:                      @blue; 
      
      @footer-border:                           @silver;
      @footer-hover-links:                      @gray;   


    /*  M I X I N S  */ // TODO - mixins in every file?
    .border-radius (@radius: 5px) {
      border-radius: @radius;
      -webkit-border-radius: @radius;
      -moz-border-radius: @radius;
      -o-border-radius: @radius;	
    }
    
    .border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
	  border-radius: @topleft @topright @bottomright @bottomleft;
	  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
	  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
      -o-border-radius: @topleft @topright @bottomright @bottomleft;	
    }    


/*  G E N E R A L   H T M L   T A G S  */
body {
  margin: 0px;
  padding: 0px;

  background-color: @background;
  font-family: Arial,sans-serif;
  font-size: 11px;

  cursor: default;
}

a {
  color: @links;
  text-decoration: none;

  .hoverable {
	position: relative;
	cursor: pointer;
	
	&hover div {
	display: block;
    }	
  }  

  &:hover {
    color: @hover-links;
    text-decoration: underline;
  }
  
  &:visited {
    color: @visited-links;
    text-decoration: none;  
  }
}

ul {
  display: block;

  float: left;
  padding: 0px;
  margin: 0px;
  
  list-style-type: none;
}

td {
  padding: 5px 0px;
}

h2 {
  margin-bottom: 0px;
  margin-top: 15px;
}

h3 {
  margin: 0px;
}

input {
  padding: 3px 5px;

  font-family: Arial,sans-serif;
  font-size: 12px;
}

textarea {
  width: 250px;
  height: 200px;

  margin-top: 5px;
  padding: 3px 5px;

  background-color: @textinput-background;

  font-family: Arial,sans-serif;
  font-size: 12px;
  border: 1px solid @textinput-border;

  .border-radius(5px); 
}

#most-top {
  background-color: @most-top-background;
}

#wrapper {
  width: 960px;
  margin: 0px auto;
  padding: 0px;
  position: relative;
}

.cover {
  position: absolute;
  top: 0px;
}

#preloader {
  position: fixed;

  width: 300px;
  height: 20px;
  padding: 20px;

  color: @preloader-text;
  background-color: @preloader-background;
  text-align: center;
  font-weight: bold;
  font-size: 14px;

  border-left: 3px solid @preloader-border;
  border-right: 3px solid @preloader-border;
  border-bottom: 3px solid @preloader-border;

  .border-radius-custom(0px, 0px, 5px, 5px);

  a:hover {
    color: @preolader-text-hover;
  }
}  

/*  T O P */
#top {
  width: 920px;
  margin: 0px auto;
  
  > nav {
  float: left;
  }

  ul li {
    float: left;
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 4px;
  }
}

  /* TOP-MENU IN TOP */
  #top-menu{ 
  
  li {
    width: 170px;
    height: 12px;

    text-align: center;

    .border-radius-custom(0px, 0px, 5px, 5px);
  }
 
  .active {
    height: 15px;
    padding: 8px 5px;
    margin-bottom: 5px;
  }

  li+li {
    margin-left: 4px;
  }
}
  
  /* META-MENU IN TOP */
  #meta-menu li {
    margin-left: 10px;
  
    .active {
      background-color: transparent;
    }
  }

  #mm-feedback {
    margin-top: 4px;
    padding: 2px 5px !important;

    background-color: @meta-menu-background;

    .border-radius(5px);
  }

 
/*  P A N E L S  */
#panels {
  width: 100%;
}

  /* GENERAL PANELS CLASSES */
  .panel {
    overflow: hidden;
    margin-top: 10px;
  
    background-color: @panel-background;
  
    > header {
      overflow: auto;
      clear: both;

      border-bottom: 2px solid @header-background;
    
      > * {
        float: left;
      }
    }
    
    .button {
      float: right;

      padding: 5px;

      .border-radius(5px);
    }
  }
    
  .panel-title {
    margin: 0px 5px;
    margin-top: 5px;
    padding: 5px;

    color: @panel-title-text-color;
    background-color: @panel-title-background;

    .border-radius-custom(5px, 5px, 0px, 0px);
  }

  .panel-icon {
    margin-top: 5px;
  }

  .panel-desc {
    margin: 0px 5px;
    margin-top: 5px;
    padding: 5px;

    font-weight: bold;
  }

  .panel-main {
    overflow: hidden;   
    margin: 5px;
    padding: 5px;
    clear: both;
    
    background-color: @panel-main-background;
    
    .border-radius(5px);

    img {
      margin-left: 5px;
    }
   }
  
  .pl-bt-container {
    overflow: auto;
    width: 160px;
    padding-bottom: 5px;
  }
  
  #pl-close-bar {
    height: 14px;
    padding: 3px 0px;
    margin-bottom: 10px;

    color: @panel-close-bar-text;
    background-color: @panel-close-bar-background;

    text-align: center;
    font-size: 12px;
    font-weight: bold;
    
    border-top: 1px solid @panel-close-bar-top-border;
  
    &:hover {
      background-color: @panel-close-bar-hover-background;
      color: @panel-close-bar-hover-text;
    }
  }

  /* CHOOSE PANEL */
  #pl-ch-views {
    float: left;
    width: 940px;
    clear: none;
  }
  
  #pl-ch-datasets {
    float: left;
    width: 940px;
    clear: none;
  }

  #pl-choose {
    position: relative;
    
    li {
      overflow: hidden;
      width: 350px;
      margin: 15px;
      padding: 10px;
    
      &:hover {
        background-color: @choose-view-background;
      }
    }
    
    header {
      border-bottom: 1px solid @chose-header-border;
    }
    
    .button+.button {
      margin-right: 5px;
    }
    
    li > p {
      margin-bottom: 20px;
    }
  }

  .pl-ch-back {
    width: 120px;
  }

  .pl-ch-more {
    margin: 0px;
    padding: 5px;
  }

  #pl-ch-area {
    left: 0px;
    top: 0px;
    width: 2000px;
    position: relative;
  }


  /* DOWNLOAD PANEL */
  .pl-dl-select-buttons > div {
    margin-bottom: 5px;
  }

  #pl-dl-fl-table td.check {
    padding: 0px 15px;
  }


 /* FEEDBACK PANEL */
  #pl-fb-email {
    width: 250px;
  }


  /*  SEARCH PANEL  */  
  #pl-sr-more {
    margin: 0px;
    margin-bottom: 5px;
    padding: 5px;

    background-color: @search-more-background;
    color: @search-more-text;

    .border-radius-custom(0px, 0px, 5px, 5px);
    
    &:hover {
      background-color: @search-more-hover-background;
      color: @search-more-hover-text;
    }
  }

  #pl-sr-results > table {
    border-collapse: collapse;
  }

  .pl-sr-results-number {
    width: 50px; 
    vertical-align: top; 
    padding-right: 15px; 
    border-right: 1px solid @search-num-separator; 
    text-align: right;
  }

  .pl-sr-results-name {
    font-weight: bold; 
    padding-left: 15px; 
    vertical-align: top;
  }

  .pl-sr-results-button {
    padding: 0px 5px; 
    color: @search-res-button-text; 
    margin-left: 10px; 
  
    background-color: @search-res-button-background; 

    .border-radius(3px);
  }
  
/*  A P P L I C A T I O N  */
#application {
  overflow: visible;
  width: 100%;
  margin: 0px auto;
  margin-top: 10px;
  padding-bottom: 5px;
  position: relative;

  background-color: @app-background;

  > header {
    overflow: auto;
    background-color: @app-header-background; 
  }
}

  #app-tabs {
    margin-left: 5px;
    
    li {
      float: left;
      width: 150px;

      padding: 3px 0px;
      margin-top: 9px;
      margin-right: 8px;

      font-size: 12px;
      text-align: center;

      border-bottom: 1px solid @tabs-bottom-border;

      .border-radius-custom(5px, 5px, 0px, 0px);
    }  
      
    li.active {
      margin-top: 4px;
      padding-bottom: 8px;

      background-color: @tabs-active-background;
      font-weight: bold;

      border-bottom: 1px solid @tabs-active-bottom-border;
    }
  }


  /* APPLICATION SHARE */
  #app-sh-permalink {
    margin: 0px;
    margin-bottom: 5px;
    padding: 5px;

    background-color: @app-permalink-background;
    color: @app-permalink-text;

    .border-radius-custom(0px, 0px, 5px, 5px);
  }

/* F O T E R */
footer {
  margin-top: 150px;
  padding: 0px 15px;
  border-top: 1px solid @footer-border;
  border-bottom: 1px solid @footer-border;

  > section {
    padding: 10px 0px;
    line-height: 1.7em;
    float: left;
    margin-right: 1%;
  }
  
  a:hover {
    color: @footer-hover-links;
  }
}

.last {
  margin-right: 0%;
}

#goto-app:hover {
  cursor: pointer;
}
