/*  L E S S  J S  */
  /*V A R I A B L E S */
    /* COLORS */
      /* COLORS NAMES */ //TODO desame color names in every less file?
      @black:                                   #000000;
      @blue:                                    #1ea3e8;
      @light-black:                             #2b2b2b;      
      @very-dark-gray:                          #3b3b3b;
      @steel-blue:                              #438db3;
      @light-blue:                              #4cbceb;
      @dark-gray:                               #5b5b5b;
      @gray:                                    #8b8b8b;
      @green:                                   #98d39f;
      @light-gray:                              #ababab;
      @dark-silver:                             #c1c1c1;
      @silver:                                  #dedede;
      @light-silver:                            #eee;            
      @very-light-silver:                       #e3e3e3;
      @white-smoke:                             #f4f4f4;      
      @creamy-white:                            #fffffa;
      @white:                                   #fff;
      
      /* COLORS RULES */
      @background:                              @gray;
      @links:                                   @blue;
      @hover-links:                             @white;
      @visited-links:                           @blue;
      @textinput-background:                    @white;
      @textinput-border:                        @light-blue;

      @header-background:                       @very-dark-gray;
        
      @most-top-background:                     @very-dark-gray;
      @preloader-background:                    @creamy-white;
      @preloader-text:                          @dark-gray;
      @preolader-text-hover:                    @gray;
      @preloader-border:                        @dark-gray;
      
      @meta-menu-background:                    @dark-gray;
      @panel-background:                        @white;
      @panel-title-background:                  @very-dark-gray;
      @panel-title-text-color:                  @white; 
      @panel-main-background:                   @very-light-silver;
      
      @panel-close-bar-text:                    @white;
      @panel-close-bar-background:              @blue;
      @panel-close-bar-top-border:              @blue;
      
      @panel-close-bar-hover-background:        @white; 
      @panel-close-bar-hover-text:              @blue;
      
      @panel-tree-border:                       @very-light-silver;
      @panel-tree-table-head-border:            @gray;
      @panel-tree-table-cell-border:            @dark-silver;
      @panel-tree-li-border:                    @gray;
      @panel-tree-det-border:                   @gray;
      @panel-tree-det-background:               @white;
      @panel-tree-even-background:              @very-light-silver;      
      
      @choose-view-background:                  @silver;
      @chose-header-border:                     @gray;

      @search-more-background:                  @very-light-silver; 
      @search-more-text:                        @blue;  
      @search-more-hover-background:            @blue;      
      @search-more-hover-text:                  @white;
      @search-num-separator:                    @dark-silver;
      @search-res-button-background:            @silver;
      @search-res-button-text:                  @white;
        
      @app-background:                          @white;
      @app-header-background:                   @gray;
      @tabs-bottom-border:                      @blue;
      @tabs-active-background:                  @white;
      @tabs-active-bottom-border:               @white;            
      
      @app-permalink-background:                @very-light-silver;
      @app-permalink-text:                      @blue; 
      
      @footer-border:                           @silver;
      @footer-hover-links:                      @gray;   


    /*  M I X I N S  */ // TODO - mixins in every file?
    .border-radius (@radius: 5px) {
      border-radius: @radius;
      -webkit-border-radius: @radius;
      -moz-border-radius: @radius;
      -o-border-radius: @radius;	
    }
    
    .border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
	  border-radius: @topleft @topright @bottomright @bottomleft;
	  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
	  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
      -o-border-radius: @topleft @topright @bottomright @bottomleft;	
    }    


/*  G E N E R A L   H T M L   T A G S  */
body {
  margin: 0px;
  padding: 0px;

  background-color: @background;
  font-family: Arial,sans-serif;
  font-size: 11px;

  cursor: default;
}

a {
  color: @links;
  text-decoration: none;

  .hoverable {
	position: relative;
	cursor: pointer;
	
	&hover div {
	display: block;
    }	
  }  

  &:hover {
    color: @hover-links;
    text-decoration: underline;
  }
  
  &:visited {
    color: @visited-links;
    text-decoration: none;  
  }
}

ul {
  display: block;

  float: left;
  padding: 0px;
  margin: 0px;
  
  list-style-type: none;
}

td {
  padding: 5px 0px;
}

h2 {
  margin-bottom: 0px;
  margin-top: 15px;
} 

h3 {
  display: block;

  margin: 0px;

  font-size: 1.17em;
  font-weight: bold;
}

input {
  padding: 3px 5px;

  font-family: Arial,sans-serif;
  font-size: 12px;
}

textarea {
  width: 250px;
  height: 200px;

  margin-top: 5px;
  padding: 3px 5px;

  background-color: @textinput-background;

  font-family: Arial,sans-serif;
  font-size: 12px;
  border: 1px solid @textinput-border;

  .border-radius(5px); 
}

#most-top {
  background-color: @most-top-background;
}

#wrapper {
  width: 960px;
  margin: 0px auto;
  padding: 0px;
  position: relative;
}

.cover {
  position: absolute;
  top: 0px;
}

#cover {
    height: 100%; 
    width: 100%; 
    position: absolute; 
    top: 0px;
    opacity: 0.0;
}

#preloader {
  position: fixed;

  width: 300px;
  height: 20px;
  padding: 20px;

  color: @preloader-text;
  background-color: @preloader-background;
  text-align: center;
  font-weight: bold;
  font-size: 14px;

  border-left: 3px solid @preloader-border;
  border-right: 3px solid @preloader-border;
  border-bottom: 3px solid @preloader-border;

  .border-radius-custom(0px, 0px, 5px, 5px);

  a:hover {
    color: @preolader-text-hover;
  }
}  

/*  T O P */
#top {
  width: 920px;
  margin: 0px auto;
  
  > nav {
  float: left;
  }

  ul li {
    float: left;
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 4px;
  }
}

  /* TOP-MENU IN TOP */
  #top-menu{ 
    height: 25px;
  
  li {
    width: 170px;
    height: 12px;

    text-align: center;
    font-weight: bold;

    .border-radius-custom(0px, 0px, 4px, 4px);
  }
 
  .active {
    padding: 5px 5px;
    margin-bottom: 5px;
  }

  li+li {
    margin-left: 4px;
  }
}
  
  /* META-MENU IN TOP */
  #meta-menu li {
    margin-left: 10px;
  
    .active {
      background-color: transparent;
    }
  }

  #mm-feedback {
    margin-top: 4px;
    padding: 2px 5px !important;

    background-color: @meta-menu-background;

    .border-radius(5px);
  }

 
/*  P A N E L S  */
#panels {
  width: 100%;
}

  /* GENERAL PANELS CLASSES */
  .panel {
    overflow: hidden;
    margin-top: 10px;
  
    background-color: @panel-background;
  
    > header {
      overflow: auto;
      clear: both;

      border-bottom: 2px solid @header-background;
    
      > * {
        float: left;
      }
    }
    
    .button {
      float: right;

      padding: 5px;

      .border-radius(5px);
    }
  }
    
  .panel-title {
    margin: 0px 5px;
    margin-top: 5px;
    padding: 5px;

    color: @panel-title-text-color;
    background-color: @panel-title-background;

    .border-radius-custom(5px, 5px, 0px, 0px);
  }

  .panel-icon {
    margin-top: 5px;
  }

  .panel-desc {
    margin: 0px 5px;
    margin-top: 5px;
    padding: 5px;

    font-weight: bold;
  }

  .panel-main {
    overflow: hidden; 
    margin: 5px;
    padding: 5px;
    clear: both;
    
    background-color: @panel-main-background;
    
    .border-radius(5px);

    img {
      margin-left: 5px;
    }
   }
  
  .pl-bt-container {
    overflow: auto;
    width: 160px;
    padding-bottom: 5px;
  }
  
  #pl-close-bar {
    height: 14px;
    padding: 3px 0px;
    margin-bottom: 10px;

    color: @panel-close-bar-text;
    background-color: @panel-close-bar-background;

    text-align: center;
    font-size: 12px;
    font-weight: bold;
    
    border-top: 1px solid @panel-close-bar-top-border;
  
    &:hover {
      background-color: @panel-close-bar-hover-background;
      color: @panel-close-bar-hover-text;
    }
  }
  
  /* DBTREE PANEL */
  #pl-choose {  /* TODO check - it's from old choose panel */
    position: relative;
    
    li {
      margin: 15px;
    }
    
    > header {
      border-bottom: 1px solid @chose-header-border;
    }
    
    .button+.button {
      margin-right: 5px;
    }
    
    li > p {
      margin-bottom: 20px;
    }
  }

  #pl-ch-datasets { /* TODO rename datasets */
    float: left;
    width: 98%;
    clear: none;
    
    section.tree-holder {
      overflow: auto;

      width: 90%;
      margin: 10px; 
      padding: 20px;
      position: relative; 
      border: solid 1px #555;
      display: block;
    }

    > div.button {
      float: left;

      margin-bottom: 15px;
      margin-left: 25px;
    }
    
    table {
      table-collapse: collapse;
      width: 100%;
    }

    th {
      border-bottom: 1px solid #555;
      text-align: center;
      font-weight: bold;
    }

    td {
      padding-top: 8px;
      vertical-align: top;
    }
    
    td.check {
      width: 39px;
      padding: 5px 3px;
    }
    td.check > div {
      margin: 0px auto;
    }
    
    h1 {
      font-size: 18px;
    }

    ul {
      width: 95%;
      margin-left: 25px;
      clear: both;
    }
      
    > ul > li:last-child {
        border-bottom-width: 0px;
    } 

    .even {
      background-color: #fff;
    }
    .odd {
      background-color: @panel-tree-even-background;
    }
    
    .pl-tree-nodes-holder {
    }
  }
    
  .pl-tree-node {
    float: left;

    width: 28px;
    height: 22px;
    cursor: pointer;
  }
  
  .pl-tree-node-unchecked {
    background-image: url("/site_media/img/checkbox01_normal.png");
    
    &:hover {
      background-image: url("/site_media/img/checkbox01_hover.png");    
    }
  }
  
  .pl-tree-node-checked {
    background-image: url("/site_media/img/checkbox01_checked.png");

    &:hover {
      background-image: url("/site_media/img/checkbox01_checkedHover.png");    
    }
  }
  
  .pl-tree {
    clear: both;
    display: inline-block;

    padding: 5px;

    border-width: 1px;
    border-style: solid;
    border-color: @panel-tree-border;    
        
    table {
      overflow: auto;
      border-collapse: collapse;
    }

    th {
      padding: 10px;
      text-align: center;
      font-weight: bold;
      border-bottom: solid;
      border-bottom-width: 1px;
      border-bottom-color: @panel-tree-table-head-border;    
    }
    
    td {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 15px;
      padding-left: 15px;

      border-bottom: solid;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: @panel-tree-table-cell-border;
    }
    
    table > tbody {
      
      > tr:last-child > td {
        border-bottom: none;
      }

      td:first-child {
        width: 180px;
        
        padding-top: 15px;
        padding-right: 30px;

        text-align: left;        
        vertical-align: top;
      }      
    }    

    ul {
      display: none;
    }

    > ul > table {
      margin-left: 74px;
    }    
    
    .pl-tree-list-even {
        
      > li > section.pl-tree {
        background-color: @panel-tree-even-background;           

        > div.pl-tree-pointer {
          position: absolute;
          left: -7px;
          background-image: url("/site_media/img/corner2.png");           
        }
      }
    }
        
  }
  
  .pl-tree-det {
    background-color: @panel-tree-det-background;
    border-color: @panel-tree-det-border;
    
    > ul {
      display: block;
      clear: both;
        
      > li > .pl-tree {
        border-color: @panel-tree-det-border;            

        > div.pl-tree-pointer {
          display: inline-block !important;    
        }
      }        
    }
    
    > div.pl-tree-arrow {
      background-image: url("/site_media/img/arrow_down.png");              
    }
    
  }
  
  .pl-tree-pointer {
    float: left;
    position: relative;
    right: 14px;

    width: 9px;
    height: 17px;

    margin-top: 5px;
    
    background-image: url("/site_media/img/corner.png");              
  }

  .pl-tree-arrow {
    float: left;
    
    width: 23px;
    height: 23px;
    
    margin-left: 5px;
    margin-right: 20px;
    background-image: url("/site_media/img/arrow_left.png");              
    
    cursor: pointer;
  }
  
  .pl-tree-node-info {
    float: left;    
        
    header {
      margin-top: 8px;
      margin-bottom: 5px;
    }
  }

  .pl-tree-end-det {
    display: none;

    clear: both;

    margin-left: 39px;
  }
  
  
  .pl-tree-end-checkbox {
    float: left;
    width: 38px;
    height: 19px;
    
    cursor: pointer;
  }
  
  .pl-tree-end-nocheck {
    background-image: url("/site_media/img/checkbox02_inactive.png");
    cursor: auto;
  }

  .pl-tree-end-unchecked {
    background-image: url("/site_media/img/checkbox02_normal.png"); 
    
    &:hover {
      background-image: url("/site_media/img/checkbox02_hover.png");     
    } 
  }
  
  .pl-tree-end-checked {
    background-image: url("/site_media/img/checkbox02_checked.png");
    
    &:hover {
      background-image: url("/site_media/img/checkbox02_checkedHover.png");     
    } 
  }


  /* CHOOSE PANEL */ /* TODO - remove - it's from old choose panel*/
  #pl-ch-views {
    float: left;
    width: 940px;
    clear: none;
  }
  



  .pl-ch-back {
    width: 120px;
    margin: 5px;
  }

  .pl-ch-more {
    margin: 0px;
    padding: 5px;
  }

  #pl-ch-area {
    left: 0px;
    top: 0px;
    position: relative;
  }


  /* DOWNLOAD PANEL */
  .pl-dl-select-buttons > div {
    margin-bottom: 5px;
  }

  #pl-dl-fl-table td.check {
    padding: 0px 15px;
  }


 /* FEEDBACK PANEL */
  #pl-fb-email {
    width: 250px;
  }


  /*  SEARCH PANEL  */  
  /*TODO need it? */ 
  #pl-sr-more {
    margin: 0px;
    margin-bottom: 5px;
    padding: 5px;

    background-color: @search-more-background;
    color: @search-more-text;

    .border-radius-custom(0px, 0px, 5px, 5px);
    
    &:hover {
      background-color: @search-more-hover-background;
      color: @search-more-hover-text;
    }
  }

  #pl-sr-results > table {
    border-collapse: collapse;
  }

  .pl-sr-results-number {
    width: 50px; 
    vertical-align: top; 
    padding-right: 15px; 
    border-right: 1px solid @search-num-separator; 
    text-align: right;
  }

  .pl-sr-results-name {
    font-weight: bold; 
    padding-left: 15px; 
    vertical-align: top;
  }

  .pl-sr-results-button {
    padding: 0px 5px; 
    color: @search-res-button-text; 
    margin-left: 10px; 
  
    background-color: @search-res-button-background; 

   .border-radius(3px);
  }
  /* TODO end */

  .pl-sr-res-col {
    display: inline-block;

    margin: 15px;
    margin-bottom: 0px;
  }

  .pl-sr-res-col:first-child {
      width: 80px;
  }

  .pl-sr-res-num {
    display: inline-block;
    
    width: 80px;
    height: 13px;
    padding-left: 20px;

    text-align: left;
    vertical-align: top;
  }

  .pl-sr-res-name {
    display: inline-block;
    
    cursor: pointer;

    padding-left: 15px; 
    vertical-align: top;
  }

  .pl-sr-res-colection-name {
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 20px;

    font-weight: bold;
  }


  .pl-sr-res-button {
    margin-left: 10px; 
    padding: 0px 5px; 

    background-color: #c1c1c1; 
    color: #fff; 

    border-radius: 3px;    
    -moz-border-radius: 3px;    
    -webkit-border-radius: 3px;    
    -o-border-radius: 3px;    
  }
  
/*  A P P L I C A T I O N  */
#application {
  overflow: visible;
  width: 100%;
  margin: 0px auto;
  margin-top: 10px;
  padding-bottom: 5px;
  position: relative;

  background-color: @app-background;

  > header {
    overflow: auto;
    background-color: @app-header-background; 
  }
}

  #app-tabs {
    margin-left: 5px;
    
    li {
      float: left;
      width: 150px;

      padding: 3px 0px;
      margin-top: 9px;
      margin-right: 8px;

      font-size: 12px;
      text-align: center;

      border-bottom: 1px solid @tabs-bottom-border;

      .border-radius-custom(5px, 5px, 0px, 0px);
    }  
      
    li.active {
      margin-top: 4px;
      padding-bottom: 8px;

      background-color: @tabs-active-background;
      font-weight: bold;

      border-bottom: 1px solid @tabs-active-bottom-border;
    }
  }


  /* APPLICATION SHARE */
  #app-sh-permalink {
    margin: 0px;
    margin-bottom: 5px;
    padding: 5px;

    background-color: @app-permalink-background;
    color: @app-permalink-text;

    .border-radius-custom(0px, 0px, 5px, 5px);
  }

/* F O T E R */
footer {
  margin-top: 150px;
  padding: 0px 15px;
  border-top: 1px solid @footer-border;
  border-bottom: 1px solid @footer-border;

  > section {
    padding: 10px 0px;
    line-height: 1.7em;
    float: left;
    margin-right: 1%;
  }
  
  a:hover {
    color: @footer-hover-links;
  }
}

.last {
  margin-right: 0%;
}

#goto-app:hover {
  cursor: pointer;
}
