/*  L E S S  J S  */
  /*V A R I A B L E S */
    /* COLORS */
      /* COLORS NAMES */ 
      @black:                                   #000000;
      @blue:                                    #1ea3e8;
      @light-black:                             #2b2b2b;      
      @very-dark-gray:                          #3b3b3b;
      @steel-blue:                              #438db3;
      @light-blue:                              #4cbceb;
      @dark-gray:                               #5b5b5b;
      @gray:                                    #8b8b8b;
      @green:                                   #98d39f;
      @light-gray:                              #ababab;
      @dark-silver:                             #c1c1c1;
      @silver:                                  #dedede;
      @light-silver:                            #eee;            
      @very-light-silver:                       #e3e3e3;
      @white-smoke:                             #f4f4f4;      
      @creamy-white:                            #fffffa;
      @white:                                   #fff;
      
      /* COLORS RULES */
      @datatable-thead-row-background:          @light-black;
      @datatable-total-row-background:          @gray;
      @datatable-thead-row-text:                @white;
      @datatable-row-border:                    @dark-gray;
      @datatable-cell-separator:                @gray;
      @datatable-hover-row:                     @green;
      @datatable-dim-row:                       @light-gray;
      @datatble-selected-row-text:              @white;
      @datatble-selected-row-background:        @dark-gray;
      @datatble-inselected-row-border:          @dark-gray;
      @datatble-after-selected-row-border:      @dark-gray;
      
      @odd-background:                          @white;
      @even-background:                         @light-silver;
      @click-text:                              @blue;
      @current-border:                          @very-dark-gray;
      @root-text:                               @white;
      @root-background:                         @dark-gray;
      @root-border:                             @dark-gray;
      @dim-text:                                @very-dark-gray;
      @next-border:                             @dark-gray;
      
      
      @table-header-background:                 @white;
      @table-header-border:                     @dark-silver;
      @table-header-bottom-border:              @blue;
      @table-header-active-background:          @very-light-silver;
      @table-header-active-border-bottom:       @very-light-silver; 
      @table-header-active-hover-border-bottom: @very-light-silver;
      @table-header-active-hover-border:        @dark-silver;
      
      @table-header-close-background:           @gray; 
      @table-header-close-text:                 @white; 
      @table-header-close-hover-background:     @dark-silver; 
      @table-header-close-hover-text:           @dark-gray; 

           
      @table-header-hover-background:           @blue;
      @table-header-hover-border:               @blue;
      
      @table-rename-background:                 @white;
      @table-rename-text:                       @light-blue;
      @table-rename-hover-background:           @light-blue;
      @table-rename-hover-text:                 @white;

      @table-buttons-text:                      @light-blue;
      @table-buttons-background:                @white;
      @table-buttons-hover-text:                @white;
      @table-buttons-hover-background:          @dark-silver;
        
      @table-buttons-separator:                 @black;

      @table-columns-button-text:               @light-blue;
      @table-columns-button-background:         @black;
      @table-columns-button-hover-text:         @white;
      
      @table-columns-list-background:           @white;
      @table-columns-list-border:               @black;
      
      @table-old-title-text:                    @gray;
      @table-info-background:                   @very-light-silver;
      @table-info-text:                         @black;
      @table-info-border:                       @black;
      @table-info-shadow:                       @gray;
      
      @table-info-tab1-border:                  @gray;
      @table-info-row-hover-background:         @very-light-silver;
      
      
      
      @table-info-button-x-text:                @gray;
      @table-info-button-x-background:          @white;           
      @table-info-button-x-hover-text:          @white;
      @table-info-button-x-hover-background:    @gray;
      
      @table-close-sheet-text:                  @white;
      @table-close-sheet-background:            @gray;
      @table-close-sheet-hover-text:            @dark-gray;
      @table-close-sheet-hover-background:      @dark-silver;
      
      @filtered-head-cell-background:           @silver;
      @filtered-head-cell-border:               @gray;
      @filtered-row-border:                     @gray;
      @filtered-breadcrumb-border:              @very-light-silver;
      @filtered-breadcrumb-text:                @dark-gray;
      @filtered-data-cell-background:           @white;
      @filtered-data-cell-border:               @gray;


    /*  M I X I N S  */ // TODO - mixins in every file?
    .border-radius (@radius: 5px) {
      border-radius: @radius;
      -webkit-border-radius: @radius;
      -moz-border-radius: @radius;
      -o-border-radius: @radius;	
    }
    
    .border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {    
	  border-radius: @topleft @topright @bottomright @bottomleft;
	  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
	  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
      -o-border-radius: @topleft @topright @bottomright @bottomleft;	
    }
    
    .box-shadow-custom( @offset-x: 0px, @offset-y: 0px, @blur-radius: 50px, @color: @table-info-shadow) {
      -moz-box-shadow: @offset-x @offset-y @blur-radius @color;
      -webkit-box-shadow: @offset-x @offset-y @blur-radius @color;
      box-shadow: @offset-x @offset-y @blur-radius @color;
    }


/* G E N E R A L   T A B L E */
.odd {
  background-color: @odd-background;
}

.even {
  background-color: @even-background;
}

.click {
  color: @click-text;
  font-weight: bold;
}

.click:hover {
  cursor: pointer;
}

.name {
  width: 450px;
}

.value {
  width: 100px;
  text-align: right;
}

.info {
  color: black;
  z-index: 1;
}

.a > .type {
  width: 138px;
}

.b > .type {
  width: 133px;
  padding-left: 10px !important;
}

.c > .type {
  width: 123px;
  padding-left: 20px !important;    
}

.d > .type {
  width: 113px;
  padding-left: 30px !important;    
}

.e > .type {
  width: 103px;
  padding-left: 40px !important;    
}

.f > .type {
  width: 93px;
  padding-left: 50px !important;
}

.current { 
  border: 1px solid @current-border;
}

.root {
  color: @root-text;
  background-color: @root-background !important; 
  border-right: 2px solid @root-border;
  border-left: 2px solid #5b5b5b;
}

.dim {
  color: @dim-text;
}

.next {
  border-top: 2px solid @next-border;
}

.number {
  width: 120px;
  text-align: right;
}


  /* APPLICATION TABLE */
#app-table {
   
  > .main-panel {
    overflow: visible;
  }
  
  header { 
    li {
      float: left;

      margin: 9px 3px;
      margin-bottom: 0px;
      padding: 4px 5px;

      background-color: @table-header-background;
      border: 1px solid @table-header-border;
      border-bottom: 1px solid @table-header-bottom-border;

      .border-radius-custom(3px, 3px, 0px, 0px);    
        
      &:hover {
        border: 1px solid @table-header-hover-border;
        background-color: @table-header-hover-background;
      }
      
      p {
        float: left;
      }
      
      .close-sheet-button {
        float: right;
        
        margin-top: -2px;
        margin-bottom: -2px;
        margin-right: -2px;
        margin-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 3px;
        padding-left: 3px;
        
        background-color: @table-header-close-background;
        font-weight: bold;
        color: @table-header-close-text;

        .border-radius(3px);
        
        &:hover {
          background-color: @table-header-close-hover-background;
          color: @table-header-close-hover-text;
        }
      }
      
    }
      
    li.active {
      margin: 5px 3px;
      margin-bottom: 0px;
      padding: 6px 5px;

      background-color: @table-header-active-background;
      border-bottom: 1px solid @table-header-active-border-bottom;
      
      &:hover {
        border: 1px solid @table-header-active-hover-border;
        border-bottom: 1px solid @table-header-active-hover-border-bottom;
      }      
    }    
  }
}

#app-tb-tools > section {
  clear: both;
  padding: 10px;
  padding-bottom: 0px;
}

#app-tb-save-sheet {
  margin: 9px;
  margin-bottom: 0px;
  padding: 3px;

  .border-radius(3px);
}
  
#app-tb-tl-rename-button {
  margin-left: 5px;
  padding: 2px 4px;

  color: @table-rename-text;
  background-color: @table-rename-background;

  .border-radius(3px);
    
  &:hover {
    color: @table-rename-hover-text;
    background-color: @table-rename-hover-background;
  }
}

#app-tb-tl-bt-container > div {
  padding: 3px 10px;

  color: @table-buttons-text;
  background-color: @table-buttons-background;
    
  &:hover {
    color: @table-buttons-hover-text;
    background-color: @table-buttons-hover-background;
  }
}

#app-tb-tl-clear-button {
  margin-right: 10px;

  .border-radius(3px);
}

#app-tb-tl-sort-button {
  .border-radius-custom(3px, 0px, 3px, 0px);    
}

#app-tb-tl-filter-button {
  border-left: 1px solid @table-buttons-separator;

  .border-radius-custom(0px, 3px, 0px, 3px);    
}

#app-tb-tl-srft-forms{
  
  > form > *  {
    float: left;
    margin-right: 5px;
  }

  > table td {
    vertical-align: top;
    padding: 0px 5px;
  }

  .button {
    margin-top: 25px;
    padding: 5px;

    .border-radius(5px);    
  }
}
   
#app-tb-tl-col-button-wrapper {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}

#app-tb-tl-columns-button {
  padding: 5px 10px;
  color: @table-columns-button-text;
  background-color: @table-columns-button-background;

  .border-radius-custom(5px, 5px, 0px, 0px);    
    
  &:hover {
    color: @table-columns-button-hover-text;
  }
}
  
#app-tb-tl-columns-list {
  position: relative;
    
  form {
    position: absolute;
    z-index: 30;
    width: 330px;
    right: 0px;
    padding: 5px;

    background-color: @table-columns-list-background;

    border: 2px solid @table-columns-list-border;

    .border-radius-custom(5px, 0px, 5px, 5px);    
  }
    
  td {
    padding: 0px;
  }
    
  .button {
    padding: 5px;
    margin-right: 5px;

    .border-radius(5px);
  }    
}

#app-tb-tl-old-title {
  margin-top: 2px;
  margin-left: 5px;
  color: @table-old-title-text;
}


  /* D A T A T A B L E */
  #app-tb-datatable {
    width: 100%;
    border-collapse: collapse;

    thead{
      
      > tr {
        background-color: @datatable-total-row-background;
        color: @datatable-thead-row-text;
      }
      
      > tr:first-child {
        background-color: @datatable-thead-row-background;
      }
    }

    tr {
      border-right: 2px solid @datatable-row-border;
      border-left: 2px solid @datatable-row-border;
    }
  
    td {
      cursor: default;
      vertical-align: top;
      padding: 5px;
    }
  
    td+td {
      border-left: 1px solid @datatable-cell-separator;
    }

    tbody {
  
      > tr:hover {
        background-color: @datatable-hover-row;
      }
      
      > tr:last-child {
        border-bottom: 2px solid @datatable-row-border;
      }

      > tr.dim {
        border-right: 2px solid @datatable-dim-row;
        border-left: 2px solid @datatable-dim-row;
      }
        
      > tr.dim:last-child {
          border-bottom: 2px solid @datatable-dim-row;
      }            

      tr.selected {
        color: @datatble-selected-row-text;
        background-color: @datatble-selected-row-background !important;

        border-right: 2px solid @datatble-selected-row-background !important;
        border-left: 2px solid @datatble-selected-row-background !important;
      }      

      tr.in-selected {
        border-right: 2px solid @datatble-inselected-row-border !important;
        border-left: 2px solid @datatble-inselected-row-border !important;
      }

      tr.after-selected {
        border-top: 2px solid @datatble-after-selected-row-border;
        border-right: 2px solid @datatable-dim-row;
        border-left: 2px solid @datatable-dim-row;
      }
    }
  }

  .app-tb-close-sheet {
    float: right;
    margin: -2px -2px;
    margin-left: 5px;
    padding: 1px 3px;

    font-weight: bold;
    background-color: @table-close-sheet-background;
    color: @table-close-sheet-text;

    .border-radius(3px);    
    
    &:hover {
      color: @table-close-sheet-hover-text;
      background-color: @table-close-sheet-hover-background;
    }
  }

  .app-tb-result {
    float: left;
    width: 940px;
    border-collapse: collapse;
  }  
  
  .app-result-table{  
    float: left;
    width: 100%;
    border-collapse: collapse;
  }


    /* INFO PANEL */
    #app-tb-info {
      position: absolute;
      z-index: 1;
      left: 0px;
      width: 100%;
      height: 0px;       
    
      text-align: center;
    }

    #app-tb-in-table{
      display: table;

      margin-left: auto;
      margin-right: auto;
    }  

    #app-tb-in-content {
      display: none;
      width: 690px;
      top: 10px;
      left: 5px;

      margin: 0px;
      margin-left: auto;
      margin-right: auto;
   	  padding: 10px;
      padding-left: 30px;
      padding-right: 30px;

      background-color: @table-info-background;
      color: @table-info-text;
      text-align: left;
      font-weight: normal;

      border: 2px solid @table-info-border;
      .border-radius(5px);

      .box-shadow-custom(0px, 0px, 50px, @table-info-shadow);
      
      td {
        padding: 0px;
        padding-right: 25px;
      }

      td+td {
        border-left: none;
        padding: 0px;
      }

      > table > tbody > tr:hover {
        background-color: @very-light-silver;
      }
    }

    .app-tb-info-button {
      display: inline;
      position: relative;

      cursor: pointer;
    }

    #app-tb-in-con-button-x {
      float: right;
      height: 14px;
      width: 14px;

      margin-right: -20px;
      margin-top: -5px;

      color: @table-info-button-x-text;
      background-color: @table-info-button-x-background;
      text-align: center;

      .border-radius(7px);
    
      &:hover {
        color: @table-info-button-x-hover-text;
        background-color: @table-info-button-x-hover-background;
      }    
    }  
 
    #app-tb-in-con-table1 {
      border-top: 1px solid @table-info-tab1-border;
      border-bottom: 1px solid @table-info-tab1-border;
      display: table;
      margin-top: 5px;
      width: 680px;
    }

    .app-tb-in-con-type {
      width: 150px;
      text-align: right;
    }

    .app-tb-in-con-name{
      padding: 5px;
      width: 510px;
    } 

    td.app-tb-in-con-attr{
      width: 150px;
      text-align: right;
    } 

    td.app-tb-in-con-num{
      padding: 5px;
      text-align: right;
    } 
 
  
  /* APPLICATION FILTERED */
  #app-tb-filteredtable {
    width: 100%;
    border-collapse: collapse;
          
    tr {
      border: 1px solid @filtered-row-border;
    }

    th {
      background-color: @filtered-head-cell-background;
      text-align: left;
      border: 1px solid @filtered-head-cell-border;
    }
  }
       
  .filtered-breadcrumb {
    border-left: @filtered-breadcrumb-border !important;
    border-right: @filtered-breadcrumb-border !important;

    td {
      color: @filtered-breadcrumb-text;
      padding-top: 15px;
      padding-left: 5px;
      font-size: 9px;
    }
  }
 
  .filtered-data td {
    padding: 5px;
    background-color: @filtered-data-cell-background;
    border: 1px solid @filtered-data-cell-border;
  }
