<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="UTF-8">
	<title>$app_title</title>
  <link rel="stylesheet" type="text/css" href="/site_media/css/reset.css" />
  <link rel="stylesheet/less" type="text/css" href="/site_media/css/style.less" />
  <link rel="stylesheet/less" type="text/css" href="/site_media/css/classes.less" />
  <link rel="stylesheet/less" type="text/css" href="/site_media/css/table_style.less" />
</head>
<body>

  <table id="hier-panel">
    <tbody>
    </tbody>
  </table>
  <button id="add-hier" type="button">$up_new_hier_level</button>
  <button id="del-hier" type="button">$up_del_hier_level</button>
  <br>

  <form action="/upload/columns/" method="post" id="hier-form">
    <input name="hierarchy" type="text" />
  </form>
  <button id="submit" type="button">$up_next</button>

  <script src="/site_media/js/jquery-1.7.1.min.js"></script>
  <script src="/site_media/js/mustache.js"></script>
  <script src="/site_media/js/translation.js"></script>
  <script src="/site_media/js/upload/hierarchy.js"></script>

  <script type="text/javascript" language="javascript">
  // <![CDATA[
      (function () {
        hierarchy.init( {{ labels|safe }} );
      })();
  // ]]>
  </script>

</body>
</html>



