<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="UTF-8">
	<title>$app_title</title>  	
  <link rel="stylesheet" type="text/css" href="/site_media/css/reset.css" />	
  <link rel="stylesheet/less" type="text/css" href="/site_media/css/style.less" />
  <link rel="stylesheet/less" type="text/css" href="/site_media/css/classes.less" />
  <link rel="stylesheet/less" type="text/css" href="/site_media/css/table_style.less" />
</head>
<body>
 
  {% if not ok %}
    <h1> {{ warning }} </h1>
  {% endif %}
  <h1>$up_login_header</h1>

  <table>
    <tbody>
      <tr>
        <th>
          <label for="id_login">
            $up_user
          </label>
        </th>
        <td>
          <input type="text" name="login" id="id_user">
        </td>
      </tr>
      <tr>
        <th>
          <label for="id_password">
            $up_pass
          </label>
        </th>
        <td>
          <input type="password" name="password" id="id_password">
        </td>
      </tr>
    </tbody>
  </table>

  <form action="/upload/try_login/" method="post" id="login-form">
    <input name="login_data" type="text" />
  </form>
  <button id="submit" type="button">$up_login</button>

  <script src="/site_media/js/jquery-1.7.1.min.js"></script>
  <script src="/site_media/js/translation.js"></script>
  <script src="/site_media/js/upload/login.js"></script>

  <script type="text/javascript" language="javascript">
  // <![CDATA[
      (function () {
        login.init();
      })();
  // ]]>
  </script>

</body>
</html>

