<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="UTF-8">
	<title>Otwarte dane</title>
  <link rel="stylesheet" type="text/css" href="/site_media/css/reset.css" />
  <link rel="stylesheet/less" type="text/css" href="/site_media/css/style.less" />
  <link rel="stylesheet/less" type="text/css" href="/site_media/css/classes.less" />
  <link rel="stylesheet/less" type="text/css" href="/site_media/css/table_style.less" />
</head>
<body>
  COLUMNS
 
  {% for d in data %}
  <table>
  <tr>
    <th>
      <label for="_label{{ forloop.counter0 }}">Etykieta</label>
    </th>
    <td>
      <input class="metadata" id="_label{{ forloop.counter0 }}" type="text" value="{{ d.label }}"/>
    </td>
  </tr>
  <tr>
    <th>
      <label for="_type{{ forloop.counter0 }}">Typ</label>
    </th>
    <td>
      <select class="metadata" id="_type{{ forloop.counter0 }}" name="_type{{ forloop.counter0 }}">
        {% if d.type == "string" %}
        <option selected>string</option>
        <option>number</option>
        {% else %}
        <option>string</option>
        <option selected>number</option>
        {% endif %}
      </select>
    </td>
  </tr>
  <tr>
    <th>
      <label for="_format{{ forloop.counter0 }}">Format</label>
    </th>
    <td>
      <input class="metadata" id="_format{{ forloop.counter0 }}" type="text" value="{{ d.format }}"/>
    </td>
  </tr>
  <tr>
    <th>
      <label for="_basic{{ forloop.counter0 }}">Podstawowa</label>
    </th>
    <td>
      <select class="metadata" id="_basic{{ forloop.counter0 }}" name="_basic{{ forloop.counter0 }}">
        {% if d.basic %}
        <option selected>True</option>
        <option>False</option>
        {% else %}
        <option>True</option>
        <option selected>False</option>
        {% endif %}
      </select>
    </td>
  </tr>
  <tr>
    <th>
      <label for="_processable{{ forloop.counter0 }}">Przetwarzalna</label>
    </th>
    <td>
      <select class="metadata" id="_processable{{ forloop.counter0 }}" name="_processable{{ forloop.counter0 }}">
        {% if d.processable %}
        <option selected>True</option>
        <option>False</option>
        {% else %}
        <option>True</option>
        <option selected>False</option>
        {% endif %}
      </select>
    </td>
  </tr>
  </table> 
  {% endfor %}
  <br>

  <form action="/upload/data/" method="post" id="col-form">
    <input name="columns" type="text" />
  </form>
  <button id="submit" type="button">Dalej</button>

  <script src="/site_media/js/jquery-1.7.1.min.js"></script>
  <script src="/site_media/js/mustache.js"></script>
  <script src="/site_media/js/translation.js"></script>
  <script src="/site_media/js/upload/columns.js"></script>

  <script type="text/javascript" language="javascript">
  // <![CDATA[
      (function () {
        columns.init();
      })();
  // ]]>
  </script>

</body>
</html>




