<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="UTF-8">
	<title>Otwarte dane</title>
  <link rel="stylesheet" type="text/css" href="/site_media/css/reset.css" />
  <link rel="stylesheet/less" type="text/css" href="/site_media/css/style.less" />
  <link rel="stylesheet/less" type="text/css" href="/site_media/css/classes.less" />
  <link rel="stylesheet/less" type="text/css" href="/site_media/css/table_style.less" />
</head>
<body>
 
  <form action="/upload/hierarchy/" id="coll-form" method="post" enctype="multipart/form-data">
  <h1>Fill collection information</h1>
    <div id="collection-panel">
      <table id="new_collection">
        <tbody>
          <tr>
            <th>
              <label for="coll-name">Name:</label>
            </th>
            <td>
              <input type="text" name="name" id="coll-name">
            </td>
          </tr>
          <tr>
            <th>
              <label for="coll-label">Label:</label>
            </th>
            <td>
              <input type="text" name="label" id="coll-label">
            </td>
          </tr>
          <tr>
            <th>
              <label for="coll-vis">Visible:</label>
            </th>
            <td>
              <select name="vis" id="coll-vis">
                <option value="No">No</option>
                <option value="Yes">Yes</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>
              <label for="coll-file">File:</label>
            </th>
            <td>
              <input type="file" name="file" id="coll-file">
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>

    <h1>Point parent collection</h1>
    <input id="add-exist" type="radio" name="type" value="old" checked>
      Add child collection to existing collection.
    <br>
    <input id="add-new" type="radio" name="type" value="new">
      Add new collection with parents.
    <br>

    <hr>
    <table id="collections-tree">
    </table>
    <hr>

    <div id="parent-panel">
      <table id="parent-collections">
        <tbody>
          <tr>
            <th>
              <label for="name-0">Name:</label>
            </th>
            <td>
              <input type="text" name="ancestor-name-0" id="name-0" field="ancestor">
            </td>
          </tr>
          <tr>
            <th>
              <label for="desc-0">Description:</label>
            </th>
            <td>
              <input type="text" name="ancestor-desc-0" id="desc-0" field="ancestor">
            </td>
          </tr>
        </tbody>
      </table>
      <button id="add-parent" type="button">Add new parent</button>
      <button id="del-parent" type="button" disabled>Delete last parent</button>
    </div>
    <input type="submit" value="Next">
  </form>

  <div id="error">
  </div>

  <script src="/site_media/js/jquery-1.7.1.min.js"></script>
  <script src="/site_media/js/mustache.js"></script>
  <script src="/site_media/js/upload/collection.js"></script>

  <script type="text/javascript" language="javascript">
  // <![CDATA[
      (function () {
        collection.init( {{ collections|safe }} );
      })();
  // ]]>
  </script>

</body>
</html>


