{% extends "base.html" %}

{% block app %}
  <table id="hier-panel">
    <tbody>
    </tbody>
  </table>
  <button id="add-hier" type="button">Dodaj nowy poziom hierarchii</button>
  <button id="del-hier" type="button">Usuń ostatni poziom hierarchii</button>
  <br>

  <form action="/admin/columns/" method="post" id="hier-form">
    <input name="hierarchy" type="text" />
  </form>
  <button id="submit" type="button">Dalej</button>
{% endblock %}
  
{% block js %}
  <script src="/site_media/js/upload/hierarchy.js"></script>
  <script type="text/javascript" language="javascript">
  // <![CDATA[
      (function () {
        hierarchy.init( {{ labels|safe }} );
      })();
  // ]]>
  </script>
{% endblock %}



